.header__link {
    font-size: 14px;
    
}

.header__links {
    margin-right: 50px;
    
}

.header__link-movies_movies {
    margin-right: 20px;
    
}

.header__link-movies {
    color: #000;
}

.header__btn-account {
    background-color: transparent;
    width: 100px;
    height: 32px;
    padding: 0;
    border-color: #AAAAAA;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.header__account-icon {
    margin-right: 7px;
}

.header__btn-account:hover {
    opacity: 0.7;
}