.header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header__links {
    margin-right: 50px;
}


.header__link {
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
    transition: opacity 0.5s ease;
    text-decoration: none;
    color: #000;
}

.header__link_movies {
    font-weight: 600;
    margin-right: 20px;
}

.header__link_saved-movies {
    font-weight: 600;
    margin-left: 20px;
}

.header__links_profile:first-of-type {
    margin-right: 20px;
}

.header__dark-theme {
    background-color: #073042;
}

.header__logo {
    cursor: pointer;
}

.header__container {
    max-width: 1140px;
    margin-right: 70px;
    margin-left: 70px;
    flex-grow: 1;
    display: flex;
    margin-top: 18px;
    justify-content: space-between;
}

.header__links-container {
    display: flex;
    align-items: center;
}

.header__link-auth {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    min-width: 76px;
    min-height: 32px;
}

.header__link-auth_register {
    background-color: transparent;
    color: #fff;
    margin-right: 30px;
}

.header__link-auth_login {
    background-color: #2BE080;
    border-radius: 3px;
    color: #000;
    text-align: center;
    padding-top: 8px;
}


.header__link:hover {
    opacity: 0.7;
}



@media screen and (max-width: 1023px) {
    .header__container {
        margin: 18px 30px 0 30px;
    }

    .header__links {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .header__container {
        margin: 10px 10px 0 10px;
    }

    .header__link {
        font-size: 10px;
        height: 26px;
        padding-top: 5px;
    }

    .header__link_register {
        margin-right: 14px;
        width: 64px;
    }

    .header__link_login {
        width: 54px;
    }
}