.movie-card {
    margin: 0;
    max-width: 364px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    list-style: none;
}

.movie-card__title {
    font-size: 13px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 17px;
}

.movie-card__wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    max-width: 332px;
    margin: 8px auto 16px auto;
}

.movie-card__image {
    width: 100%;
    height: 203px;
    object-fit: cover;
}

.movie-card__timing {
    font-size: 11px;
    font-weight: 400;
    color: #A0A0A0;
    margin: 0;
}

.movie-card__btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    justify-self: flex-end;
    cursor: pointer;
}

.movie-card__like-btn {
    background-image: url(../../../images/icons/like-icon.svg);
    width: 14px;
    height: 12px;
    margin-right: 8px;
}

.movie-card__like-btn_active {
    background-image: url(../../../images/icons/like-icon-active.svg);
}

.movie-card__delete-btn {
    background-image: url(../../../images/icons/cross-icon.svg);
    width: 7px;
    height: 7px;
    margin-right: 11px;
}

.movie-card__saved {
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .movie-card {
        max-width: 339px;
    }

    .movie-card__image {
        height: 190px;
    }

    .movie-card__wrapper {
        max-width: 311px;
        margin: 14px;
    }

    .movie-card__title {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 767px) {
    .movie-card__image {
        height: 163px;
    }
}
