.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-page__title {
    margin-top: 246px;
    margin-bottom: 34px;
    font-size: 140px;
    font-weight: 400;
    font-style: normal;
}

.error-page__text {
    margin-top: 0;
    margin-bottom: 184px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.error-page__back-btn {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #3456F3;
    transition: opacity 0.5s ease;
}

.error-page__back-btn:hover {
    opacity: 0.7;
}